
#N
$3
serial_tl_0_in_bits_phit\[27\]
serial_tl_0_in_bits_phit\[28\]
serial_tl_0_in_bits_phit\[29\]
serial_tl_0_in_bits_phit\[30\]
serial_tl_0_in_bits_phit\[31\]
serial_tl_0_in_ready
serial_tl_0_in_valid
serial_tl_0_clock_in
uart_0_txd
uart_0_rxd
custom_boot
$1
jtag_TCK
jtag_TMS
jtag_TDI
jtag_TDO
serial_tl_0_out_ready
serial_tl_0_out_valid
serial_tl_0_out_bits_phit\[31\]
serial_tl_0_out_bits_phit\[30\]
serial_tl_0_out_bits_phit\[29\]
serial_tl_0_out_bits_phit\[28\]
serial_tl_0_out_bits_phit\[27\]
$3

#W
$3
serial_tl_0_in_bits_phit\[8\]
serial_tl_0_in_bits_phit\[9\]
serial_tl_0_in_bits_phit\[10\]
serial_tl_0_in_bits_phit\[11\]
serial_tl_0_in_bits_phit\[12\]
serial_tl_0_in_bits_phit\[13\]
serial_tl_0_in_bits_phit\[14\]
serial_tl_0_in_bits_phit\[15\]
serial_tl_0_in_bits_phit\[16\]
serial_tl_0_in_bits_phit\[17\]
serial_tl_0_in_bits_phit\[18\]
serial_tl_0_in_bits_phit\[19\]
serial_tl_0_in_bits_phit\[20\]
serial_tl_0_in_bits_phit\[21\]
serial_tl_0_in_bits_phit\[22\]
serial_tl_0_in_bits_phit\[23\]
serial_tl_0_in_bits_phit\[24\]
serial_tl_0_in_bits_phit\[25\]
serial_tl_0_in_bits_phit\[26\]
$3

#S
$3
serial_tl_0_in_bits_phit\[7\]
serial_tl_0_in_bits_phit\[6\]
serial_tl_0_in_bits_phit\[5\]
serial_tl_0_in_bits_phit\[4\]
serial_tl_0_in_bits_phit\[3\]
serial_tl_0_in_bits_phit\[2\]
serial_tl_0_in_bits_phit\[1\]
serial_tl_0_in_bits_phit\[0\]
$3
clock_tap
clock_uncore
reset_io
$1
serial_tl_0_out_bits_phit\[0\]
serial_tl_0_out_bits_phit\[1\]
serial_tl_0_out_bits_phit\[2\]
serial_tl_0_out_bits_phit\[3\]
serial_tl_0_out_bits_phit\[4\]
serial_tl_0_out_bits_phit\[5\]
serial_tl_0_out_bits_phit\[6\]
serial_tl_0_out_bits_phit\[7\]
$3

#E
$3
serial_tl_0_out_bits_phit\[8\]
serial_tl_0_out_bits_phit\[9\]
serial_tl_0_out_bits_phit\[10\]
serial_tl_0_out_bits_phit\[11\]
serial_tl_0_out_bits_phit\[12\]
serial_tl_0_out_bits_phit\[13\]
serial_tl_0_out_bits_phit\[14\]
serial_tl_0_out_bits_phit\[15\]
serial_tl_0_out_bits_phit\[16\]
serial_tl_0_out_bits_phit\[17\]
serial_tl_0_out_bits_phit\[18\]
serial_tl_0_out_bits_phit\[19\]
serial_tl_0_out_bits_phit\[20\]
serial_tl_0_out_bits_phit\[21\]
serial_tl_0_out_bits_phit\[22\]
serial_tl_0_out_bits_phit\[23\]
serial_tl_0_out_bits_phit\[24\]
serial_tl_0_out_bits_phit\[25\]
serial_tl_0_out_bits_phit\[26\]
$3